<ul class="menu-list">
    <li class="menu-list-item">
        <a class="menu-list-item-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">خانه</a>
    </li>
    <li class="menu-list-item">
        <a class="menu-list-item-link" routerLink="/financial-operations" routerLinkActive="active">عملیات مالی</a>
    </li>
    <li class="menu-list-item">
        <a class="menu-list-item-link" routerLink="/admin-setting" routerLinkActive="active">تنظیمات مدیریتی</a>
    </li>
    <li class="menu-list-item">
        <a class="menu-list-item-link" routerLink="/reforms" routerLinkActive="active">اصلاحات</a>
    </li>
    <li class="menu-list-item">
        <a class="menu-list-item-link" routerLink="/reports" routerLinkActive="active">گزارشات</a>
    </li>
</ul>
